*{
    margin : 0;
    text-decoration: none;
    list-style: none;
    color : rgb(85, 25, 50);
    transition: all 0.2s ease;
}

html{
    background-color: rgb(255, 240, 246);
    padding : 0 15px
}

h1{
    text-align : center;
    margin-top : 25px;
    font-size: 55px;
}

/* LISTE.PHP */

#container{
    display: grid;
    grid-template-columns: 1fr;
    gap : 15px;
    row-gap: 40px;
    /* max-width: 400px; */
    width : fit-content;
    margin : auto; 
    margin-bottom : 50px;
    margin-top : 25px
}

#article{

    &:hover h2{
        text-decoration: underline;
    }
}

#add{
    margin-bottom : 12px !important;
}

#add, .list{
    display: block;
    text-align: center;
    font-size: 23px;

    &:hover{
        color : rgb(243, 158, 179) ;
    }
}

#edition, #delete{
    font-weight: 700;
    padding-right : 20px;

    &:hover{
        color : rgb(243, 158, 179) ;
    }
}

#email-p{
    padding-left : 50px
}

/* LIVRES/AJOUTER.PHP  */
form{
    max-width:400px ;
    margin : auto; 
    display: flex;
    flex-direction: column;
    gap : 5px;
    margin-top : 25px;

    input[type="text"], input[type="email"], input[type="date"]{
        padding : 7px;
    }

    input[type="submit"]{
        margin-top : 15px;
        padding : 9px;
        font-size: 20px;

        &:hover{
            background-color: rgb(228, 177, 196);
        }
    }
}

/* LIVRES/SUPPRIMER.PHP */

#question-supp{
    text-align: center;
    margin-top : 5px
}

#delete-article{
    margin : auto;
    max-width: 400px;
    margin-top : 30px;

    #yes-no-container{
        display: flex;
        justify-content: space-between;
        margin-top : 15px;

        #yes-delete{
            color : rgb(161, 5, 39);

            &:hover{
                color : rgb(231, 29, 80) ;
            }

        }        

        *{
            font-weight: 700;
            font-size: 20px;
            
            &:hover{
                color : rgb(243, 158, 179) ;
            }
        }


    }

    *{
        text-align: center;
    }
}

/* MEMBRES/LISTE.PHP */

#group-member{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#email{
    text-align: end;
}

.bold{
    font-weight: 700;
}